In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

# Pandas
Pandas is a Python library that **provides fast, flexible and easy-to-use** data structures and data analysis tools for working with numerical data and time series. It is built on top of NumPy, another Python library for scientific computing. Some of the use cases of pandas are:

1. *Importing* and *exporting data* from various sources such as **CSV, Excel, JSON, SQL** etc.
2. *Cleaning* and *transforming data* by applying **filters, aggregations, joins, merges** etc.
3. *Exploring* and *visualizing data* using **descriptive statistics, histograms, box plots** etc.
4. *Performing complex calculations* and *operations* on data such as **group by, pivot tables, rolling windows** etc.

Pandas is widely used by data scientists, analysts and developers for various purposes such as data manipulation, analysis and visualization

## How to create new columns derived from existing columns in Pandas?

In [2]:
# library
import numpy as np
import pandas as pd

In [3]:
# Create a sample DataFrame
df = pd.DataFrame({'name': ['Alice', 'Bob', 'Charlie', 'David'],
                   'age': [25, 30, 35, 40],
                   'salary':[50000,60000,70000,80000],
                   'gender': ['F', 'M', 'M', 'M']})
display(df)

df["ageSalary"] = df["age"] * df["salary"]

display(df)

      name  age  salary gender
0    Alice   25   50000      F
1      Bob   30   60000      M
2  Charlie   35   70000      M
3    David   40   80000      M

      name  age  salary gender  ageSalary
0    Alice   25   50000      F    1250000
1      Bob   30   60000      M    1800000
2  Charlie   35   70000      M    2450000
3    David   40   80000      M    3200000

## How are `iloc()` and `loc()` different?

* **`iloc()`** is integer position-based, which means that you have to specify rows and columns by their integer position values (0-based).
* **`loc()`** is label-based, which means that you have to specify rows and columns by their row and column labels.

In [4]:
display(df.iloc[:,1:3])
display()
display(df.loc[:,"age":"salary"])

   age  salary
0   25   50000
1   30   60000
2   35   70000
3   40   80000

   age  salary
0   25   50000
1   30   60000
2   35   70000
3   40   80000

## Lagging and Leading
**`.shift` in pd.groupby.shift**

The pandas groupby shift method allows you to shift a specified column in each group by a given number of periods. This can be useful for comparing values within groups or creating lagged features for time series analysis.

* Example: Suppose you have a DataFrame named df that contains information about sales of different products on different dates, such as product, date, and quantity. You can group this DataFrame by product and shift the quantity column by one period to create a new column named prev_quantity that contains the previous quantity sold for each product using the following code:

In [5]:
sales_df = pd.DataFrame(
    {
        "product":["A","A","A","B","B","B","C","C","C"],
        "date":["2021-01-01","2021-01-02","2021-01-03","2021-01-01","2021-01-02","2021-01-03","2021-01-01","2021-01-02","2021-01-03"],
        "quantity":[10,12,15,8,9,11,5,6,7]
    })

# leading
sales_df["leading_quantity"] = sales_df.groupby("product")[["quantity"]].shift(1)
# lagging
sales_df["lagging_quantity"] = sales_df.groupby("product")[["quantity"]].shift(-1)

sales_df

  product        date  quantity  leading_quantity  lagging_quantity
0       A  2021-01-01        10               NaN              12.0
1       A  2021-01-02        12              10.0              15.0
2       A  2021-01-03        15              12.0               NaN
3       B  2021-01-01         8               NaN               9.0
4       B  2021-01-02         9               8.0              11.0
5       B  2021-01-03        11               9.0               NaN
6       C  2021-01-01         5               NaN               6.0
7       C  2021-01-02         6               5.0               7.0
8       C  2021-01-03         7               6.0               NaN

## Rank, Dense Rank

1. **`Rank:`** The pandas groupby rank method allows you to calculate the rank of values within each group of a GroupBy object. You can specify different arguments for the rank method, such as method (the tie-breaking rule), ascending (the sort order), na_option (how to handle missing values), pct (whether to return percentage ranks), and axis (the axis to rank).

    * Example: Suppose you have a DataFrame named df that contains information about students’ scores on different subjects, such as name, subject, and score.
    * `Tie:` same value gets same average rank
    
    You can see that the rank column contains the rank of scores for each subject group, **with ties being assigned an average rank by default**. Example: 1.5
  
  
2. **`Dense Rank:`** if there are two values with the same rank, they will both be assigned rank 1, and the next value will be assigned rank 2.
    * `Tie:` same value gets same rank
   
   
3. **`Min Rank:`** if there are two values with the same rank, they will both be assigned the lowest rank among them.
    * `Tie:` same value gets lowest same rank
    
4. **`First Rank:`** it will assign ranks in order they appear in the array. This is equivalent to the `ROW_NUMBER()` window function in SQL    
5. **`pct=True`** means that it will compute the percentage rank of data within each group

In [6]:
students_df = pd.DataFrame({
    "name":["Subrata","Rahul","Mrinal","Bapai","Sumon","Avijit","Reek","Bikram","Kaushik"],
    "subject":["Math","Math","Math","English","English","English","Science","Science","Science"],
    "score":[90,80,70,85,95,85,75,80,85],
})

# rank
students_df["rank"] = students_df.groupby("subject")["score"].rank()
# dense rank
students_df["dense_rank"] = students_df.groupby("subject")["score"].rank(method="dense")
# min rank
students_df["min_rank"] = students_df.groupby("subject")["score"].rank(method="min")
# first rank
students_df["first_rank"] = students_df.groupby("subject")["score"].rank(method="first")
# pct parameter
students_df["pct_rank"] = students_df.groupby("subject")["score"].rank(pct=True)

students_df

      name  subject  score  rank  dense_rank  min_rank  first_rank  pct_rank
0  Subrata     Math     90   3.0         3.0       3.0         3.0  1.000000
1    Rahul     Math     80   2.0         2.0       2.0         2.0  0.666667
2   Mrinal     Math     70   1.0         1.0       1.0         1.0  0.333333
3    Bapai  English     85   1.5         1.0       1.0         1.0  0.500000
4    Sumon  English     95   3.0         2.0       3.0         3.0  1.000000
5   Avijit  English     85   1.5         1.0       1.0         2.0  0.500000
6     Reek  Science     75   1.0         1.0       1.0         1.0  0.333333
7   Bikram  Science     80   2.0         2.0       2.0         2.0  0.666667
8  Kaushik  Science     85   3.0         3.0       3.0         3.0  1.000000

## Windows
Windows in pandas DataFrame are a way of performing aggregations over a sliding partition of values. They are useful for smoothing data, calculating moving averages, detecting trends, etc.


1. **`Expanding Window:`** An expanding window is a window that includes all previous rows up to the current row. You can use this method to apply various aggregation functions such as `sum, mean, std,` etc. on an expanding window.

2. **`Rolling Window:`** this method is used to provide rolling window calculations on a DataFrame. A rolling window is **a window that slides along the rows or columns of a DataFrame and applies a function to each subset of data**. You can use this method to calculate various statistics such as `mean, std, sum`, etc. on a rolling window.

<details>
    <summary>Note:</summary>
You can use `df["score"].rolling(3).mean()` to get the mean of every three consecutive `score` but for the first two rows it will be NaN because we need minimum 3 rows to calculate the mean, the number of NaN values will vary depending on the input
</details>

3. **`Exponentially weighted window:`** this method is used to provide exponentially weighted functions on a DataFrame. An exponentially weighted function is a function that **assigns more weight to recent values and less weight to older values**. You can use this method to calculate various statistics such as `mean, std, var`, etc. on an exponentially weighted window.

In [7]:
# expanding window
students_df["expanding_window"] = students_df["score"].expanding().sum()
# rolling window
students_df["rolling_window"] = students_df["score"].rolling(3).mean()
# exponentially weighted window
students_df["exponentially_weighted_window"] = students_df["score"].ewm(3).mean()

students_df[["name","score","expanding_window","rolling_window","exponentially_weighted_window"]]

,name,score,expanding_window,rolling_window,exponentially_weighted_window
0,Subrata,90,90.0,NaN,90.000000
1,Rahul,80,170.0,NaN,84.285714
2,Mrinal,70,240.0,80.000000,78.108108
3,Bapai,85,325.0,78.333333,80.628571
4,Sumon,95,420.0,83.333333,85.339309
5,Avijit,85,505.0,88.333333,85.236115
6,Reek,75,580.0,85.000000,82.282877
7,Bikram,80,660.0,80.000000,81.648665
8,Kaushik,85,745.0,80.000000,82.554514